#console {
//  position: absolute;
//  left: 0px;
//  top: 600px;
  display: inline-block;
  max-height: 200px;
  width: 400px;
  overflow: auto;
  border-radius: 10px;
  vertical-align: bottom;
  .message {
    &:first-child {
      padding-top: 10px;
    }
    color: white;
    padding: 5px;
    &.read {
      color: #7f8c8d;
    }
    &.text {
      color: black;
      background: #add8e6;
    }
    &.alert {
      background: #c0392b;
    }
    &.cheer {
      background: #27ae60;
    }
    &.info {
      background: #2980b9;
    }
  }
}

.message-box {
  display: inline-block;
  input {
    padding: 10px;
  }
  button {
    border-radius: 4px;
  }
}

.infobox {
  width: 100%;
}